.footer {
	background-color: rgb(22, 22, 24);
	&__body {
		padding-top: 80px;
		a {
			color: rgb(249, 249, 251);
			cursor: pointer;
			font-size: 21px;
			line-height: 34px;
		}
		font-family: "FiraSans-Medium", Tahoma, Geneva, "sans-serif", sans-serif;
		display: flex;
		gap: 100px;

		@media screen and (max-width: 1189px) {
				padding-top: 50px;
				align-items: center;
				justify-content: center;
				gap: 100px;
			}
		
	}
	&__left {}
	&__logo {
		img {
			width: 81px;
			height: 81px;	
		}
	}
	&__nav {
		ul {
			display: flex;
			justify-content: space-between;
			list-style: none;
			gap: 215px;

			
			@media screen and (max-width: 1189px) {
				flex-direction: column;
				gap: 30px;
			}
			
		}
		
	}
	&__credits {
		margin-top: 50px;
		padding-top: 30px;
		padding-bottom: 30px;
		border-top: 2px solid rgb(249, 249, 251);
		
		font-family: "FiraSans-Medium", Tahoma, Geneva, "sans-serif", sans-serif;
		color: rgb(150, 150, 150);
		font-size: 14px;
		line-height: 23.5px;
		text-align: center;
		p {
			margin-bottom: 10px;
		}

		@media(max-width: 1189px) {
           	text-align: left;

        }
	
	}
}


