@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter/static/Inter-Regular.ttf") format("truetype");
}
.about {
  width: 1680px;
  height: 1874px;
}

.header {
  position: absolute;
  top: 30px;
  left: 200px;
  width: 1280px;
  width: 1280px;
  height: 76px;
  height: 76px;
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header__logo-icon {
  position: absolute;
  top: 8px;
  left: 75px;
  width: 55px;
  height: 59px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header__navigation-links {
  font-family: "Myriad Pro";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  position: absolute;
  top: 29px;
  left: 274px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.07px;
  color: #131313;
  gap: 57px;
}
.header__navigation-links .header__nav-link-1,
.header__navigation-links .header__nav-link-2,
.header__navigation-links .header__nav-link-3,
.header__navigation-links .header__nav-link-4,
.header__navigation-links .header__nav-link-5 {
  cursor: pointer;
}
.header__contact-phone-number {
  font-family: Myriad Pro;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  position: absolute;
  top: 27px;
  right: 113px;
  letter-spacing: 0.09px;
  text-transform: uppercase;
  color: #131313;
}
.header__contact-messenger-icon {
  position: absolute;
  top: 24px;
  right: 69px;
  width: 27px;
  height: 27px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.site-section-routes {
  font-family: Helvetica Neue;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  position: absolute;
  top: 156px;
  left: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(0, 0, 0, 0.89);
  gap: 22px;
}
.site-section-routes__route-section_current {
  color: rgba(0, 0, 0, 0.5);
}
.site-section-routes__route-section-delimiter {
  color: rgba(0, 0, 0, 0.5);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 1680px;
  height: 196px;
  background: #2c2c2c;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.footer__logo-icon {
  position: absolute;
  top: 30px;
  left: 200px;
  width: 85px;
  height: 91px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.footer__navigation-links {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  position: absolute;
  top: 67px;
  left: 374px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.07px;
  color: #fff;
  gap: 40px;
}
.footer__contact-title {
  position: absolute;
  top: 53px;
  left: 950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 295px;
  height: 60px;
  padding: 20px 33px;
  border-radius: 10px;
  background: #f8de67;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.footer__contact-phone-number {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  position: absolute;
  top: 42px;
  right: 200px;
  width: 179px;
  height: 22px;
  text-align: right;
  letter-spacing: 0.09px;
  text-transform: uppercase;
  color: #fff;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.footer__contact-mail {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  position: absolute;
  top: 69px;
  right: 200px;
  width: 131px;
  height: 18px;
  text-align: right;
  letter-spacing: 0.075px;
  color: rgba(255, 255, 255, 0.64);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.footer__contact-messengers-icons-container {
  position: absolute;
  top: 97px;
  right: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 164px;
  height: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  gap: 22px;
}
.footer__bottom-line {
  position: absolute;
  bottom: 0;
  width: 1680px;
  height: 45px;
  background: #232323;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.footer__left-text {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  position: absolute;
  bottom: 14px;
  left: 200px;
  color: #fff;
}
.footer__right-text-1 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  position: absolute;
  bottom: 14px;
  left: 926px;
  color: #fff;
}
.footer__right-text-2 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  position: absolute;
  right: 200px;
  bottom: 14px;
  color: #fff;
}