@import 'nullstyle.scss';

// Variables
$textColor: #131313;
$fontFamily: 'Myriad Pro';

@font-face {
    font-family: 'Inter';
    src: url("../../fonts/Inter/static/Inter-Regular.ttf") format('truetype');
}

.about
{
	
    width: 1680px;
    height: 1874px;
}
.header
{
    position: absolute;
    top: 30px;
    left: 200px;

    width: 1280px;
    width: 1280px;
    height: 76px;
    height: 76px;

    border-radius: 10px;
    background: #fff;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .15);

    flex-shrink: 0;

    &__logo-icon
    {
        position: absolute;
        top: 8px;
        left: 75px;

        width: 55px;
        height: 59px;

        flex-shrink: 0;

        img
        {
        }
    }

    &__navigation-links
    {
        font-family: $fontFamily;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: normal;

        position: absolute;
        top: 29px;
        left: 274px;

        display: flex;

        letter-spacing: .07px;

        color: $textColor;

        gap: 57px;

        .header__nav-link-1,
        .header__nav-link-2,
        .header__nav-link-3,
        .header__nav-link-4,
        .header__nav-link-5
        {
            cursor: pointer;
        }
    }

    &__contact-phone-number
    {
        font-family: Myriad Pro;
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        line-height: normal;

        position: absolute;
        top: 27px;
        right: 113px;

        letter-spacing: .09px;
        text-transform: uppercase;

        color: $textColor;
    }

    &__contact-messenger-icon
    {
        position: absolute;
        top: 24px;
        right: 69px;

        width: 27px;
        height: 27px;

        flex-shrink: 0;
        img
        {
        }
    }
}
.about-body
{
    &__title
    {
    }
    &__container
    {
    }
    &__text
    {
    }
    &__paragraph
    {
    }
    &__advantages-container
    {
    }
    &__decorator-icon
    {
    }
    &__about-video
    {
    }
    &__items-content-container
    {
    }
}
.site-section-routes
{
    font-family: Helvetica Neue;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;

    position: absolute;
    top: 156px;
    left: 200px;

    display: flex;

    color: rgba(0, 0, 0, .89);

    gap: 22px;
    &__route-section
    {
        &_current
        {
            color: rgba(0, 0, 0, .50);
        }
    }
    &__route-section-delimiter
    {
        color: rgba(0, 0, 0, .50);
    }
}
.item-advantage
{
    &__icon
    {
    }
    &__title
    {
    }
}
.video-block
{
    &__play-button
    {
    }
}
.item-content
{
    &__icon
    {
    }
    &__title
    {
    }
    &__text
    {
    }
    &__paragraph
    {
    }
}
.footer
{
    position: absolute;
    bottom: 0;

    width: 1680px;
    height: 151px + 45px;

    background: #2c2c2c;

    flex-shrink: 0;
    &_contact-title-text
    {
    }
    &_contact-title-arrow
    {
    }
    &__logo-icon
    {
        position: absolute;
        top: 30px;
        left: 200px;

        width: 85px;
        height: 91px;

        flex-shrink: 0;
    }
    &__navigation-links
    {
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: normal;

        position: absolute;
        top: 67px;
        left: 374px;

        display: flex;

        letter-spacing: .07px;

        color: #fff;

        gap: 40px;
    }
    &__nav-link-1
    {
    }
    &__nav-link-2
    {
    }
    &__nav-link-3
    {
    }
    &__nav-link-4
    {
    }
    &__contact-title
    {
        position: absolute;
        top: 53px;
        left: 950px;

        display: flex;

        width: 295px;
        height: 60px;
        padding: 20px 33px;

        border-radius: 10px;
        background: #f8de67;

        justify-content: center;
        align-items: center;
        gap: 15px;
        flex-shrink: 0;
    }

    &__contact-phone-number
    {
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        line-height: normal;
        text-align: right;

        position: absolute;
        top: 42px;
        right: 200px;

        width: 179px;
        height: 22px;

        letter-spacing: .09px;
        text-transform: uppercase;

        color: #fff;

        flex-shrink: 0;
    }
    &__contact-mail
    {
        font-family: Inter;
        font-size: 15px;
        font-weight: 400;
        font-style: normal;
        line-height: normal;

        position: absolute;
        top: 69px;
        right: 200px;

        width: 131px;
        height: 18px;

        text-align: right;
        letter-spacing: .075px;

        color: rgba(255, 255, 255, .64);

        flex-shrink: 0;
    }
    &__contact-messengers-icons-container
    {
        display: flex;

        width: 164px;
        height: 24px;

        flex-shrink: 0;
        gap: 22px;
    }
    &__messenger-icon
    {
    }
    &__bottom-line
    {
        position: absolute;
        bottom: 0;

        width: 1680px;
        height: 45px;

        background: #232323;

        flex-shrink: 0;
    }
    &__left-text
    {
    }
    &__right-text-1
    {
    }
    &__right-text-2
    {
    }
}
